body{
  font-family: "Microsoft YaHei", "微软雅黑", arial, simsun, "宋体";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:1rem;
  margin: 0;
  color:$--color-text-primary;
  line-height:1.75;
}
img{
  vertical-align: middle;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
p{
  margin:0;
}
em,strong{
  font-style:normal;
  font-weight:normal;
}
.iconfont{
  font-size:1.2rem;
}
.link{
  color:$--color-primary;
}
.divider{
  border-bottom:1px solid $--border-color-base;
  margin:5px 0;
}
.assist{
  color:$--color-text-secondary;
}
.tc{
  text-align:center;
}
.tl{
  text-align:left;
}
.tr{
  text-align:right;
}
.img-size-mini{
  width: 35px;
  height: 35px;
}
.img-size-small{
  width: 45px;
  height: 45px;
}
.img-size-default{
  width: 60px;
  height: 60px;
}
.img-size-large{
  width: 80px;
  height: 80px;
}
.img-size-x,.img-size-xx,.img-size-xxx{
  padding:2px;
  width:100px;
  height:100px;
  object-fit:contain;
  border:1px solid $--border-color-base;
}
.img-size-xx{
  width:200px;
  height:200px;
}
.img-size-xxx{
  width:300px;
  height:300px;
}
.is-fit{
  object-fit: contain;
}
.is-round{
  border-radius:50%;
}

div#nprogress{
  .spinner-icon{
    border-top-color: $--color-primary;
    border-left-color: $--color-primary;
  }
  .bar{
    background:$--color-primary;
  }
  .peg{
    box-shadow: 0 0 10px $--color-primary, 0 0 5px $--color-primary;
  }
}
.nprogress-busy{
  .e-placeholder,.el-table__empty-text{
    opacity:0;
    transition:opacity 0.3s ease 0s;
  }
}
