@import '../../../../../node_modules/element-ui/packages/theme-chalk/src/common/var.scss';

$font-path              : 'iconfont'!default;
// FrameLayout
$frame-layout--header-height: 40px!default;
$frame-layout--aside-width: 180px!default;
$frame-layout--aside-collapse-width: 64px!default;
$frame-layout--logo-height: 40px!default;
$frame-layout--theme-color: #fff!default;
